@tailwind base;
@tailwind components;
@tailwind utilities;

b{
    text-transform: uppercase;
}
.active{
    background-color: #B0CC0D !important;
    color: white !important;
}
.active svg{
    color: white !important;
}
.active h6{
    color: white !important;
}
.active2{
    background-color: #B0CC0D !important;
}
.active2 h4{
    color: white !important;
    text-decoration: underline white !important;
}
.active2 p{
    color: white !important;
    text-decoration: underline white !important;

}
.active3{
    background-color: white !important;
}