@tailwind base;
@tailwind components;
@tailwind utilities;

b{
    text-transform: uppercase;
}
.active{
    background-color: #B0CC0D !important;
    color: white !important;
}
.active svg{
    color: white !important;
}
.active h6{
    color: white !important;
}